<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa
   		http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<context:property-placeholder location="classpath:config.properties" />

	<!-- <import resource="dubbo-provider.xml" /> -->

	<context:component-scan base-package="com.dituhui" />
	<context:component-scan base-package="com.dituhui.openapi.dbm.service.impl" />
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="packagesToScan" value="com.dituhui" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="dataSource">
			<bean class="org.logicalcobwebs.proxool.ProxoolDataSource">
				<property name="driver" value="${db.driver}" />
				<property name="driverUrl" value="${db.url}" />
				<property name="user" value="${db.username}" />
				<property name="password" value="${db.password}" />
				<!-- 最小连接数（默认5） -->
				<property name="minimumConnectionCount" value="${proxool.minimumConnectionCount}" />
				<!-- 最大连接数（默认15） -->
				<property name="maximumConnectionCount" value="${proxool.maximumConnectionCount}" />
				<!-- 检测器休眠时间间隔，单位毫秒（默认30000）。每隔配置时间间隔后检测所有连接状态，空闲回收，超时销毁 -->
				<property name="houseKeepingSleepTime" value="${proxool.houseKeepingSleepTime}" />
				<!-- 最小可用连接数（默认0） -->
				<property name="prototypeCount" value="${proxool.prototypeCount}" />
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<jpa:repositories base-package="com.dituhui.openapi.dbm"
		entity-manager-factory-ref="entityManagerFactory"
		transaction-manager-ref="transactionManager" />
</beans>